*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Livvic', sans-serif;
  background :linear-gradient(162.63deg, #F4E5DF 0.63%, #DDEFF1 82%, #9DE3F2 101.43%);
  background-repeat: no-repeat;
}

#root {
  margin: 20px 12px 0;
  padding-top: 11px;
  min-height: 100vh;
}